<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<main class="container contacts-table">
    <section class="mt-3" id="cards">
      <h1>Mensagens de Contato</h1>
      <p>Confira abaixo as mensagens recebidas</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Mensagem</th>
          </tr>
        </thead>
        <tbody>
          <% contatos.forEach(contato => { %>
            <tr>
              <th scope="row"><%= contato.id %> </th>
              <td><%= contato.nome %> </td>
              <td><%= contato.email %> </td>
              <td><%= contato.mensagem %> </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </section>
  </main>

  <%- include('./partials/footer'); %>
  </body>
</html>



